# files
*.csv
*.xls
*.xlsx
*.log
*.spec
*.crx
chromedriver.exe

# directories
old/
study/
spec/
build/
__pycache__/
.vscode/
profile/
node_modules/

# evn files
.env
.env.local
.env.*.local


# pip
Pipfile
Pipfile.lock


# others
post_app