[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
pandas = "*"
requests = "*"
eel = "*"
lxml = "*"
webdriver-manager = "*"
python-dotenv = "*"
openpyxl = "*"

[dev-packages]
jupyter = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"
