body {
    overflow-y: scroll;
}

table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

.big_col {
    width: 60%;
}

.abridgement {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}